services:
  mediamtx:
    image: bluenviron/mediamtx:latest-ffmpeg
    container_name: mediamtx
    restart: unless-stopped
    ports:
      - "8554:8554"
      - "1935:1935"
      - "8888:8888"
      - "9997:9997"
      - "8889:8889" # WebRTC
    volumes:
      - ./mediamtx.yml:/mediamtx.yml
    healthcheck:
      test: ["CMD", "wget", "-q", "--spider", "http://localhost:9997/v3/paths/list"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 15s
